.container-fluid {
	padding: 0px 0px;
}

.featured {
	height: 60vh;
	background-color: black;
	color:white;
	overflow:hidden;
}

.fill-in {
	position: relative;
    max-height:100%;
    vertical-align: middle;
    transform: translate(0%,-15%);
}